a, a:visited {
  color: #666;
}
#container {
  width: 750px;
  margin: 0 auto;
}
header {
  margin-top: 20px;
  margin-bottom: 30px;
  h1 {
    text-align: center;
    a, a:visited {
      font-size: 56px;
      font-family: "Ultra", arial, serif;
      color: #ff6600;
      text-decoration: none;
    }
  }
}
#main {
  #search {
    width: 450px;
    margin: 0 auto 45px auto;
    form {
      position: relative;
      input[type=text] {
        width: 100%;
        font-size: 17px;
      }
      input[type=submit] {
        position: absolute;
        top: 3px;
        left: 470px;
      }
    }
    .tip {
      font-size: 14px;
      color: #676767;
    }
  }
  #examples {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding-right: 40px;
      }
      li.last {
        padding-right: 3px;
      }
    }
  }
  #chart {
    background: #ccc;
  }
}
footer {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}
