a, a:visited {
  color: #666; }

#container {
  width: 800px;
  margin: 0 auto; }

header {
  margin-top: 20px;
  margin-bottom: 30px; }
  header h1 {
    text-align: center; }
    header h1 a, header h1 a:visited {
      font-size: 56px;
      font-family: "Ultra", arial, serif;
      color: #ff6600;
      text-decoration: none; }

#main #search {
  width: 450px;
  margin: 0 auto 45px auto; }
  #main #search form {
    position: relative; }
    #main #search form input[type=text] {
      width: 100%;
      font-size: 17px; }
    #main #search form input[type=submit] {
      position: absolute;
      top: 3px;
      left: 470px; }
  #main #search .tip {
    font-size: 14px;
    color: #676767; }
#main #examples {
  font-size: 17px; }
  #main #examples ul {
    list-style-type: none; }
    #main #examples ul li {
      display: inline-block;
      padding-right: 37px; }
    #main #examples ul li.last {
      padding-right: 3px; }

footer {
  margin-top: 20px;
  text-align: center;
  font-family: Helvetica, arial, sans-serif;
  font-size: 11px;
  color: #666; }
  footer p {
    margin: 3px; }
