a, a:visited {
  color: #666;
}
#container {
  width: 800px;
  margin: 0 auto;
}
header {
  margin-top: 20px;
  margin-bottom: 30px;
  h1 {
    text-align: center;
    a, a:visited {
      font-size: 60px;
      font-family: "Aclonica", arial, serif;
      color: #ff6600;
      text-decoration: none;
    }
  }
  .motto {
    padding-left: 360px;
    font-size: 18px;
    font-family: "Indie Flower", arial, serif;
  }
}
#main {
  #search {
    width: 450px;
    margin: 0 auto 45px auto;
    form {
      position: relative;
      input[type=text] {
        width: 100%;
        font-size: 17px;
      }
      input[type=submit] {
        position: absolute;
        top: 3px;
        left: 470px;
      }
    }
    .tip {
      font-size: 13px;
      color: #676767;
    }
  }
  #examples {
    font-size: 17px;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding-right: 36px;
      }
      li.last {
        padding-right: 3px;
      }
    }
  }
}
footer {
  p {
    margin: 3px;
  }
  margin-top: 30px;
  text-align: center;
  font-family: Helvetica, arial, sans-serif;
  font-size: 11px;
  color: #666;
  iframe {
    vertical-align: middle;
  }
}
#lightbox {
  width: 350px;
  background: #EEF2F7;
  padding: 14px 22px;
  border: 1px solid #536376;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
  box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
  h3 {
    padding-top: 7px;
  }
  p {
    padding: 7px 0;
  }
}
